
#chat::before{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: green;
	border: none;
	border-radius: 50px;
}
#chat::after{
	content: ' This is added to after ';
	background-color: green;
	color: red;
	opacity: 0.5px;
	border:none;
	border-radius: 50px;
	margin-left: 9px;
	padding: 2px;
}
#newcss::first-line{
	background-color: yellow;

}